In [1]:
import numpy as np
import pandas as pd
import re
import string
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from nltk import word_tokenize, corpus         
from nltk.stem import WordNetLemmatizer
from pipeline_nodes import convert_categorical_to_dummy

In [2]:
specialty_cols = ['Code', 'Grouping', 'Classification', 'Specialization', 'Definition']
specialty_df = pd.read_csv('https://s3-us-west-1.amazonaws.com/physician-referral-graph/nucc_taxonomy_180.csv', dtype=str, usecols=specialty_cols)

In [3]:
specialty_df.replace('Definition to come...', np.nan, inplace=True)

In [4]:
specialty_categorical_cols = ['Grouping', 'Classification', 'Specialization']
specialty_df_dummies = convert_categorical_to_dummy(specialty_df, specialty_categorical_cols)

In [5]:
specialty_df_dummies.shape

(854, 730)

In [6]:
wordnet = WordNetLemmatizer()

In [7]:
stopwords = set(corpus.stopwords.words('english') + list(string.punctuation))

In [8]:
def tokenize(doc):
    '''
    INPUT: string
    OUTPUT: list of strings

    Tokenize and stem/lemmatize the document.
    '''
    return [wordnet.lemmatize(word) for word in word_tokenize(re.sub('[^a-z\s]', '', doc.lower()))]

In [9]:
vectorizer = TfidfVectorizer(stop_words=stopwords, tokenizer=tokenize)

In [10]:
vectors = vectorizer.fit_transform(specialty_df_dummies['Definition'].fillna('')).toarray()

In [11]:
words = vectorizer.get_feature_names()

In [12]:
def get_top_values(lst, n, labels):
    '''
    INPUT: LIST, INTEGER, LIST
    OUTPUT: LIST

    Given a list of values, find the indices with the highest n values.
    Return the labels for each of these indices.

    e.g.
    lst = [7, 3, 2, 4, 1]
    n = 2
    labels = ["cat", "dog", "mouse", "pig", "rabbit"]
    output: ["cat", "pig"]
    '''
    return [labels[i] for i in np.argsort(lst)[-1:-n-1:-1]]

In [13]:
avg = np.sum(vectors, axis=0) / np.sum(vectors > 0, axis=0)
get_top_values(avg, 10, words)

['marriage',
 'come',
 'coding',
 'definition',
 'dance',
 'music',
 'obesity',
 'jx',
 'inactive',
 'poetry']

In [14]:
total = np.sum(vectors, axis=0)
get_top_values(total, 10, words)

['care',
 'patient',
 'service',
 'treatment',
 'disease',
 'individual',
 'health',
 'disorder',
 'facility',
 'medicine']

In [15]:
tokenized_queries = vectorizer.transform(['primary care provider', 'sickness', 'elderly', 'urgent care', 'preventive care', 'behaviour change'])
cosine_similarities = linear_kernel(tokenized_queries, vectors)
titles = specialty_df['Grouping'].astype(str) + specialty_df['Classification'].astype(str) + specialty_df['Specialization'].astype(str)

In [16]:
for i, definition in enumerate(['primary care provider', 'sickness', 'elderly', 'urgent care', 'preventive care', 'behaviour change']):
    print(i)
    print(definition)
    print(get_top_values(cosine_similarities[i], 3, titles))

0
primary care provider
['Dental ProvidersDentistGeneral Practice', 'Managed Care OrganizationsExclusive Provider Organizationnan', 'Allopathic & Osteopathic PhysiciansPediatricsNeonatal-Perinatal Medicine']
1
sickness
['Other Service ProvidersPrevention Professionalnan', 'Allopathic & Osteopathic PhysiciansObstetrics & GynecologyHospice and Palliative Medicine', 'Allopathic & Osteopathic PhysiciansObstetrics & GynecologyFemale Pelvic Medicine and Reconstructive Surgery']
2
elderly
['Allopathic & Osteopathic PhysiciansPsychiatry & NeurologyGeriatric Psychiatry', 'Nursing & Custodial Care FacilitiesCustodial Care FacilityAdult Care Home', 'Allopathic & Osteopathic PhysiciansInternal MedicineGeriatric Medicine']
3
urgent care
['Hospital UnitsEpilepsy Unitnan', 'SuppliersNon-Pharmacy Dispensing Sitenan', 'Respiratory, Developmental, Rehabilitative and Restorative Service ProvidersRespiratory Therapist, RegisteredSNF/Subacute Care']
4
preventive care
['Allopathic & Osteopathic PhysiciansPreventive MedicinePreventive Medicine/Occupational Environmental Medicine', 'Allopathic & Osteopathic PhysiciansPreventive MedicineSports Medicine', 'Dental ProvidersDentistPediatric Dentistry']
5
behaviour change
['Respiratory, Developmental, Rehabilitative and Restorative Service ProvidersRecreation Therapistnan', 'Respiratory, Developmental, Rehabilitative and Restorative Service ProvidersOccupational TherapistDriving and Community Mobility', 'Respiratory, Developmental, Rehabilitative and Restorative Service ProvidersRespiratory Therapist, CertifiedGeriatric Care']

In [17]:
description_vect_df = pd.DataFrame(vectors, columns=words)

In [18]:
description_vect_df.columns

Index(['abdomen', 'abdominal', 'ability', 'ablation', 'able', 'abnormal',
       'abnormality', 'abortion', 'abortionfamily', 'absence',
       ...
       'writing', 'written', 'x', 'xray', 'xrays', 'year', 'young', 'zift',
       'zone', 'zygote'],
      dtype='object', length=3329)

In [19]:
combined_df = pd.concat([specialty_df_dummies, description_vect_df], axis=1).drop(['Definition'], axis=1)

In [21]:
d = {}
for col in combined_df.columns:
    d[col] = combined_df[col].value_counts

# Let's play with Physician NPI

In [23]:
physician_cols = ['NPI', 'Entity Type Code', 'Provider Business Practice Location Address City Name', 'Provider Business Practice Location Address State Name', 'Provider Business Practice Location Address Country Code (If outside US)', 'Provider Gender Code', 'Healthcare Provider Taxonomy Code_1']

In [24]:
physician_dtype = {'NPI':int, 'Entity Type Code':float, 'Provider Business Practice Location Address City Name':str, 'Provider Business Practice Location Address State Name':str, 'Provider Business Practice Location Address Country Code (If outside US)':str, 'Provider Gender Code':str, 'Healthcare Provider Taxonomy Code_1':str}

In [25]:
physician_df = pd.read_csv('../data/samples/npidata_pfile_20050523-20180408_withHeader-subsample.csv', dtype=physician_dtype, usecols=physician_cols)

In [26]:
physician_df['Entity Type Code'].replace([1,2], ['Individual', 'Organization'], inplace=True)

In [27]:
physician_df

,NPI,Entity Type Code,Provider Business Practice Location Address City Name,Provider Business Practice Location Address State Name,Provider Business Practice Location Address Country Code (If outside US),Provider Gender Code,Healthcare Provider Taxonomy Code_1
0,1881931285,Organization,FRANKLIN,NC,US,NaN,174400000X
1,1992931828,Organization,BALTIMORE,MD,US,NaN,251E00000X
2,1508018706,Individual,MANHATTAN,NY,US,F,363AS0400X
3,1740225770,Individual,CHARLES TOWN,WV,US,M,207Q00000X
4,1609388560,Individual,DANBURY,CT,US,F,163WL0100X
5,1629571955,Individual,SPRINGFIELD GARDENS,NY,US,F,163W00000X
6,1356557623,Individual,ROYAL OAK,MI,US,M,207X00000X
7,1780079145,Individual,BROOKLYN,NY,US,M,390200000X
8,1669461463,Individual,FT LAUDERDALE,FL,US,M,207RC0000X
9,1053710715,Individual,GAINESVILLE,FL,US,M,183500000X
10,1710295894,Individual,CONCORD,NH,US,F,133V00000X
11,1407101116,Individual,CHARLOTTE,NC,US,F,1041C0700X
12,1962778076,Individual,INDIANAPOLIS,IN,US,F,101YA0400X
13,1962622266,Individual,OXNARD,CA,US,M,122300000X
14,1104977024,Individual,CORONADO,CA,US,M,183500000X
15,1477683811,Individual,HIRAM,GA,US,F,363LF0000X
16,1518319235,Individual,OXNARD,CA,US,F,101YA0400X
17,1073843751,Individual,WEST BLOOMFIELD,MI,US,M,101YM0800X
18,1609800481,Individual,OAK LAWN,IL,US,M,207Q00000X
19,1598057929,Individual,MAITLAND,FL,US,F,207P00000X
20,1750308607,Individual,BEVERLY,MA,US,F,1041C0700X
21,1093887432,Individual,PHOENIX,AZ,US,F,101YM0800X
22,1750705430,Organization,ELIZABETHTOWN,KY,US,NaN,101YP2500X
23,1710212915,Individual,SITKA,AK,US,M,282N00000X
24,1508129057,Individual,ASTORIA,NY,US,F,171M00000X
25,1568443430,Individual,DUXBURY,MA,US,M,363A00000X
26,1932246139,Individual,PATCHOGUE,NY,US,F,225XP0200X
27,1003018532,Individual,GREAT BEND,KS,US,M,103TB0200X
28,1801947338,Individual,NILES,IL,US,M,1835P1200X
29,1861468258,Individual,INDIANAPOLIS,IN,US,M,207RA0401X
...,...,...,...,...,...,...,...
970,1972744092,Individual,OMAHA,NE,US,F,101YM0800X
971,1699168286,Individual,MANDAN,ND,US,F,163W00000X
972,1346564457,Individual,LONE TREE,CO,US,M,1223P0221X
973,1851419931,Organization,FINDLAY,OH,US,NaN,111N00000X
974,1467714493,Individual,BILOXI,MS,US,F,1041C0700X
975,1255542783,Individual,MOUNTAIN BRK,AL,US,F,101Y00000X
976,1154365872,Individual,EL CAJON,CA,US,M,207RC0000X
977,1982815858,Individual,DRAPER,UT,US,F,104100000X
978,1801102686,Organization,ROCKY MOUNT,NC,US,NaN,227900000X
979,1922519248,Individual,NEW YORK,NY,US,F,235Z00000X
980,1740356419,Individual,SAN DIEGO,CA,US,M,106H00000X
981,1750493177,Individual,SEBRING,FL,US,F,207P00000X
982,1720362569,Individual,SEATTLE,WA,US,F,208D00000X
983,1285976134,Individual,HIALEAH,FL,US,F,363LF0000X
984,1396805594,Individual,POMONA,NJ,US,F,363L00000X
985,1255401246,Individual,LOUISVILLE,KY,US,F,363LP0200X
986,1356792659,Organization,MCALLEN,TX,US,NaN,207Q00000X
987,1821361106,Individual,CHICAGO,IL,US,F,1041C0700X
988,1225337819,Organization,LAKE WALES,FL,US,NaN,261QF0400X
989,1629402086,Organization,SHREVEPORT,LA,US,NaN,291U00000X
990,1033239751,Individual,FLOWERY BRANCH,GA,US,M,183500000X
991,1881786853,Individual,ROSEBUD,SD,US,M,363A00000X
992,1790792174,Individual,APO,AP,KR,F,163WC1500X
993,1538333018,Individual,WILMINGTON,NC,US,F,2084P0800X
994,1871852749,Individual,YORK,PA,US,F,367500000X
995,1760632715,Individual,NEW YORK,NY,US,M,2084P0800X
996,1124063029,Individual,APO,AE,DE,F,2255A2300X
997,1720529324,Individual,CANTON,OH,US,M,1835P2201X
998,1477764355,Individual,FRANKLIN PARK,IL,US,M,183500000X
999,1194754226,Organization,TEXARAKANA,AR,US,NaN,251G00000X

In [32]:
physician_categoricals = ['Entity Type Code', 'Provider Business Practice Location Address City Name', 'Provider Business Practice Location Address State Name', 'Provider Business Practice Location Address Country Code (If outside US)', 'Provider Gender Code']

In [33]:
physician_df_dummies = convert_categorical_to_dummy(physician_df, physician_categoricals)

In [35]:
physician_df_dummies.shape

(1000, 719)

In [29]:
city_state_country

,Provider Business Practice Location Address City Name,Provider Business Practice Location Address State Name,Provider Business Practice Location Address Country Code (If outside US)
0,FRANKLIN,NC,US
1,BALTIMORE,MD,US
2,MANHATTAN,NY,US
3,CHARLES TOWN,WV,US
4,DANBURY,CT,US
5,SPRINGFIELD GARDENS,NY,US
6,ROYAL OAK,MI,US
7,BROOKLYN,NY,US
8,FT LAUDERDALE,FL,US
9,GAINESVILLE,FL,US
10,CONCORD,NH,US
11,CHARLOTTE,NC,US
12,INDIANAPOLIS,IN,US
13,OXNARD,CA,US
14,CORONADO,CA,US
15,HIRAM,GA,US
16,OXNARD,CA,US
17,WEST BLOOMFIELD,MI,US
18,OAK LAWN,IL,US
19,MAITLAND,FL,US
20,BEVERLY,MA,US
21,PHOENIX,AZ,US
22,ELIZABETHTOWN,KY,US
23,SITKA,AK,US
24,ASTORIA,NY,US
25,DUXBURY,MA,US
26,PATCHOGUE,NY,US
27,GREAT BEND,KS,US
28,NILES,IL,US
29,INDIANAPOLIS,IN,US
...,...,...,...
970,OMAHA,NE,US
971,MANDAN,ND,US
972,LONE TREE,CO,US
973,FINDLAY,OH,US
974,BILOXI,MS,US
975,MOUNTAIN BRK,AL,US
976,EL CAJON,CA,US
977,DRAPER,UT,US
978,ROCKY MOUNT,NC,US
979,NEW YORK,NY,US
980,SAN DIEGO,CA,US
981,SEBRING,FL,US
982,SEATTLE,WA,US
983,HIALEAH,FL,US
984,POMONA,NJ,US
985,LOUISVILLE,KY,US
986,MCALLEN,TX,US
987,CHICAGO,IL,US
988,LAKE WALES,FL,US
989,SHREVEPORT,LA,US
990,FLOWERY BRANCH,GA,US
991,ROSEBUD,SD,US
992,APO,AP,KR
993,WILMINGTON,NC,US
994,YORK,PA,US
995,NEW YORK,NY,US
996,APO,AE,DE
997,CANTON,OH,US
998,FRANKLIN PARK,IL,US
999,TEXARAKANA,AR,US

In [30]:
city_state_country_dummies = convert_categorical_to_dummy(city_state_country, ['Provider Business Practice Location Address City Name','Provider Business Practice Location Address State Name','Provider Business Practice Location Address Country Code (If outside US)'])

In [36]:
city_state_country_dummies.shape

(1000, 713)