In [1]:
import pandas as pd

In [2]:
ls ../data/samples/

npidata_pfile_20050523-20180408-subsample.csv
physician-shared-patient-patterns-2013-days-180-subsample.csv
physician-shared-patient-patterns-2014-days-180-subsample.csv

In [3]:
ref2014_df = pd.read_csv('../data/samples/physician-shared-patient-patterns-2014-days-180-subsample.csv')

In [4]:
ref2013_df = pd.read_csv('../data/samples/physician-shared-patient-patterns-2013-days-180-subsample.csv')

In [5]:
ref2014_df.head()

      Initial   Secondary  Total  Unique  Same Day
0  1639124266  1124246954     40      22         0
1  1891717864  1184792418    143      55         0
2  1972500379  1720155872   4591      16         0
3  1245420884  1902899214    596      65        17
4  1295732238  1972596377     96      56        12

In [6]:
ref2014_df.set_index(['Initial', 'Secondary'], inplace=True)

In [7]:
ref2013_df.set_index(['Initial', 'Secondary'], inplace=True)

In [8]:
combined_df = ref2014_df.merge(ref2013_df, how='outer', left_index= True, right_index=True, sort=True, suffixes=(2014, 2013))

In [9]:
combined_df.shape

(200, 6)

In [10]:
ref2014_df.shape

(100, 3)

In [11]:
def combine_datasets(left_filepath, left_suffix, list_right_filepath_suffix):
    left_df = pd.read_csv(left_filepath, index_col=['Initial', 'Secondary'])
    for right_file in list_right_filepath_suffix:
        right_filepath, right_suffix = right_file
        right_df = pd.read_csv(right_filepath, index_col=['Initial', 'Secondary'])
        left_df = left_df.merge(right_df, how='outer', left_index= True, right_index=True, sort=True, copy=False, suffixes=[left_suffix, right_suffix])
        left_suffix = ''
    return left_df

In [18]:
left_filepath = '../data/samples/physician-shared-patient-patterns-2014-days-180-subsample.csv'
left_suffix = '_2014'
list_right_filepath_suffix = [('../data/samples/physician-shared-patient-patterns-2014-days-180-subsample.csv', '_2014_again?'), ('../data/samples/physician-shared-patient-patterns-2013-days-180-subsample.csv', '_2013')]

In [19]:
new_df = combine_datasets(left_filepath, left_suffix, list_right_filepath_suffix)

In [20]:
new_df.head()

,,Total_2014,Unique_2014,Same Day_2014,Total_2014_again?,Unique_2014_again?,Same Day_2014_again?,Total,Unique,Same Day
Initial,Secondary,,,,,,,,,
1003033051,1154584084,NaN,NaN,NaN,NaN,NaN,NaN,69.0,11.0,0.0
1003865999,1851318554,NaN,NaN,NaN,NaN,NaN,NaN,38.0,16.0,0.0
1003884362,1740271386,18.0,13.0,0.0,18.0,13.0,0.0,NaN,NaN,NaN
1013173046,1821095084,97.0,28.0,10.0,97.0,28.0,10.0,NaN,NaN,NaN
1013911957,1053379248,NaN,NaN,NaN,NaN,NaN,NaN,144.0,26.0,0.0

In [15]:
new_df.shape

(200, 9)

In [16]:
# new_df.to_csv('testing-combine-referral.csv')

In [17]:
def average_referral(combined_referral_dataset):
    combined_df = read_csv(combined_referral_dataset)
    combined_df['Average: Shared Count'] = 
    combined_df['Average: Shared Count'] = 
    combined_df['Average: Shared Count'] =

SyntaxError: invalid syntax (<ipython-input-17-f57d01608b50>, line 3)