In [5]:
import pandas as pd

In [6]:
ls ../data/samples/

physician-shared-patient-patterns-2013-days-180-subsample.csv
physician-shared-patient-patterns-2014-days-180-subsample.csv

In [10]:
ref2014_df = pd.read_csv('../data/samples/physician-shared-patient-patterns-2014-days-180-subsample.csv')

In [11]:
ref2013_df = pd.read_csv('../data/samples/physician-shared-patient-patterns-2013-days-180-subsample.csv')

In [12]:
ref2014_df.head()

      Initial   Secondary  Total  Unique  Same Day
0  1639124266  1124246954     40      22         0
1  1891717864  1184792418    143      55         0
2  1972500379  1720155872   4591      16         0
3  1245420884  1902899214    596      65        17
4  1295732238  1972596377     96      56        12

In [16]:
ref2014_df.set_index(['Initial', 'Secondary'], inplace=True)

In [21]:
ref2013_df.set_index(['Initial', 'Secondary'], inplace=True)

In [23]:
combined_df = ref2014_df.merge(ref2013_df, how='outer', left_index= True, right_index=True, sort=True, suffixes=(2014, 2013))

In [25]:
combined_df.shape

(200, 6)

In [26]:
ref2014_df.shape

(100, 3)

In [40]:
def combine_datasets(left_filepath, left_suffix, list_right_filepath_suffix):
    left_df = pd.read_csv(left_filepath, index_col=['Initial', 'Secondary'])
    for right_file in list_right_filepath_suffix:
        right_filepath, right_suffix = right_file
        right_df = pd.read_csv(right_filepath, index_col=['Initial', 'Secondary'])
        left_df = left_df.merge(right_df, how='outer', left_index= True, right_index=True, sort=True, copy=False, suffixes=(left_suffix, right_suffix))
    return left_df

In [41]:
left_filepath = '../data/samples/physician-shared-patient-patterns-2014-days-180-subsample.csv'
left_suffix = '2014'
list_right_filepath_suffix = [('../data/samples/physician-shared-patient-patterns-2014-days-180-subsample.csv', '2014again?'), ('../data/samples/physician-shared-patient-patterns-2013-days-180-subsample.csv', '2013')]

In [42]:
new_df = combine_datasets(left_filepath, left_suffix, list_right_filepath_suffix)

In [43]:
new_df.head()

,,Total2014,Unique2014,Same Day2014,Total2014again?,Unique2014again?,Same Day2014again?,Total,Unique,Same Day
Initial,Secondary,,,,,,,,,
1003033051,1154584084,NaN,NaN,NaN,NaN,NaN,NaN,69.0,11.0,0.0
1003865999,1851318554,NaN,NaN,NaN,NaN,NaN,NaN,38.0,16.0,0.0
1003884362,1740271386,18.0,13.0,0.0,18.0,13.0,0.0,NaN,NaN,NaN
1013173046,1821095084,97.0,28.0,10.0,97.0,28.0,10.0,NaN,NaN,NaN
1013911957,1053379248,NaN,NaN,NaN,NaN,NaN,NaN,144.0,26.0,0.0

In [44]:
new_df.shape

(200, 9)